<!-- Begin header section -->
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/backgroundProduct.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Products</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
<!-- End header section -->
<!-- Begin body section -->
	<div id="fh5co-product">
		<div class="container">
		  <div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
			  <span>Provide you the best quality goods.</span>
			  <h2>Page 1</h2>
			</div>
		  </div>
			<a href="product-category-samsung.html"><img class="quang_category" src="images/logo_samsung.jpg" alt=" "></a> | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="product-category-whirlpool.html"><img class="quang_category" src="images/whirlpool.png" alt=" "></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="product-category-rowenta.html"><img class="quang_category" src="images/rowenta.jpg" alt=" "></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="product-category-gpx.html"><img class="quang_category" src="images/gpx.png" alt=" "></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="product-category-pyle.html"><img class="quang_category" src="images/pyle.png" alt=" "></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="product-category-bandd.html"><img class="quang_category2" src="images/logo_bandd.png" alt=" "></a> &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="product-category-lg.html"><img class="quang_category3" src="images/logo_lg.jpg" alt=" "></a> &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="product-category-amazonbasics.html"><img class="quang_category4" src="images/logo_amazon.jpg" alt=" "></a>
		<br>
			
		<div>
		  <div class="row">
			<!-- Product -->
			<div class="col-md-4 text-center animate-box">
			  <div class="product">
				<div class="product-grid" style="background-image:url(images/products-1.jpg);">
				  <div class="inner">
					<p>
					  <a href="product-detail-AC-01.html" class="icon"><i class="icon-shopping-cart"></i></a>
					  <a href="product-detail-AC-01.html" class="icon"><i class="icon-eye"></i></a>
					</p>
				  </div>
				</div>
				<div class="desc">
				  <h3><a href="product-detail-AC-01.html">8,000 BTU Window Air Conditioner</a></h3>
				  <span class="price">$499.99</span>
				</div>
			  </div>
			  <!-- End product -->
			</div>	  
		</div>
	  </div><br>
	  <div class="me"><meta name="viewport" content="width=device-width, initial-scale=1.0">
		<table style="margin-left: 40%;margin-right: 35%;" class="me">
			<tr>
				<td style="text-align: center; width: 60px"><a href="product.html">&#60;</a></td>
				<td style="text-align: center; width: 60px; font-weight: bold; background-color:rgb(124, 91, 6);"><a href="product.html" style="color: white;">1</a></td>
				<td style="text-align: center; width: 60px"><a href="product2.html">2</a></td>
				<td style="text-align: center; width: 60px"><a href="product3.html">3</a></td>
				<td style="text-align: center; width: 60px"><a href="product2.html">&#62;</a></td>
			</tr>
		</table>
</div>
<!-- End footer section -->