<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/backgroundProduct.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Products</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
<div id="fh5co-product">
		<div class="container">
		  <div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
			  <span>Provide you the best quality goods.</span>
			</div>
		  </div>
		  <a href="product-category-samsung.html"><img class="quang_category" src="images/logo_samsung.jpg" alt=" "></a> | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <a href="product-category-whirlpool.html"><img class="quang_category" src="images/whirlpool.png" alt=" "></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <a href="product-category-rowenta.html"><img class="quang_category" src="images/rowenta.jpg" alt=" "></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <a href="product-category-gpx.html"><img class="quang_category" src="images/gpx.png" alt=" "></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <a href="product-category-pyle.html"><img class="quang_category" src="images/pyle.png" alt=" "></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <a href="product-category-bandd.html"><img class="quang_category2" src="images/logo_bandd.png" alt=" "></a> &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <a href="product-category-lg.html"><img class="quang_category3" src="images/logo_lg.jpg" alt=" "></a> &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <a href="product-category-amazonbasics.html"><img class="quang_category4" src="images/logo_amazon.jpg" alt=" "></a>
		  <br>
		<div>
			<div class="row">
				<div class="col-md-4 text-center animate-box">
				  <div class="product">
					<div class="product-grid" style="background-image:url(images/products-1.jpg);">
					  <div class="inner">
						<p>
						  <a href="product-detail-AC-01.html" class="icon"><i class="icon-shopping-cart"></i></a>
						  <a href="product-detail-AC-01.html" class="icon"><i class="icon-eye"></i></a>
						</p>
					  </div>
					</div>
					<div class="desc">
					  <h3><a href="product-detail-AC-01.html">8,000 BTU Window Air Conditioner</a></h3>
					  <span class="price">$499.99</span>
					</div>
				  </div>
				</div>
				<div class="col-md-4 text-center animate-box">
				  <div class="product">
					<div class="product-grid" style="background-image:url(images/products-2.jpg);">
					  <div class="inner">
						<p>
						  <a href="product-detail-AC-02.html" class="icon"><i class="icon-shopping-cart"></i></a>
						  <a href="product-detail-AC-02.html" class="icon"><i class="icon-eye"></i></a>
						</p>
					  </div>
					</div>
					<div class="desc">
					  <h3><a href="product-detail-AC-02.html">24,500 BTU Window-Mounted Air Conditioner</a></h3>
					  <span class="price">$499.99</span>
					</div>
				  </div>
				</div>
				<div class="col-md-4 text-center animate-box">
				  <div class="product">
					<div class="product-grid" style="background-image:url(images/products-3.jpg);">
					  <div class="inner">
						<p>
						  <a href="product-detail-AC-03.html" class="icon"><i class="icon-shopping-cart"></i></a>
						  <a href="product-detail-AC-03.html" class="icon"><i class="icon-eye"></i></a>
						</p>
					  </div>
					</div>
					<div class="desc">
					  <h3><a href="product-detail-AC-03.html">5000BTU Window-Mounted Air Conditioner</a></h3>
					  <span class="price">$499.99</span>
					</div>
				  </div>
				</div>
			  </div>
			  <div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="product">
					  <div class="product-grid" style="background-image:url(images/products-1.jpg);">
						<div class="inner">
						  <p>
							<a href="product-detail-AC-05.html" class="icon"><i class="icon-shopping-cart"></i></a>
							<a href="product-detail-AC-05.html" class="icon"><i class="icon-eye"></i></a>
						  </p>
						</div>
					  </div>
					  <div class="desc">
						<h3><a href="product-detail-AC-05.html">BLACK+ DECKER BD08WT6 Window Air Conditioner</a></h3>
						<span class="price">$499.99</span>
					  </div>
					</div>
				  </div>
				  <div class="col-md-4 text-center animate-box">
					<div class="product">
					  <div class="product-grid" style="background-image:url(/images/product-details-images/Product-detail-AC-06-01.jpg);">
						<div class="inner">
						  <p>
							<a href="product-detail-AC-06.html" class="icon"><i class="icon-shopping-cart"></i></a>
							<a href="product-detail-AC-06.html" class="icon"><i class="icon-eye"></i></a>
						  </p>
						</div>
					  </div>
					  <div class="desc">
						<h3><a href="product-detail-AC-06.html">6000BTU Window Air Conditioner</a></h3>
						<span class="price">$499.99</span>
					  </div>
					</div>
				  </div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
					  <div class="product-grid" style="background-image:url(images/a1.jpg);">
						<div class="inner">
						  <p>
							<a href="product-detail-AC-07.html" class="icon"><i class="icon-shopping-cart"></i></a>
							<a href="product-detail-AC-07.html" class="icon"><i class="icon-eye"></i></a>
						  </p>
						</div>
					  </div>
					  <div class="desc">
						<h3><a href="product-detail-AC-07.html">14,000 BTU Through-The-Wall Air Conditioner</a></h3>
						<span class="price">499.99</span>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			  <div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="product">
					  <div class="product-grid" style="background-image:url(images/a2.jpg);">
						<div class="inner">
						  <p>
							<a href="product-detail-AC-04.html" class="icon"><i class="icon-shopping-cart"></i></a>
							<a href="product-detail-AC-04.html" class="icon"><i class="icon-eye"></i></a>
						  </p>
						</div>
					  </div>
					  <div class="desc">
						<h3><a href="product-detail-AC-04.html">5000 BTU Window Air Conditioner</a></h3>
						<span class="price">$499.99</span>
					  </div>
					</div>
				  </div>
			  </div>
		</div>
</div>