<br> <br>
<footer class="container-fluid bg-grey py-5">
<div class="container">
   <div class="row">
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 ">
               <div class="logo-part">
                  <h3 class="footfont">La Imperial.</h3>
                  <p>397A, Nam Ky Khoi Nghia, Dist 3, HCMC.</p>
                  <p>Provide best quality products for your cozy little home.</p>
               </div>
            </div>
            <div class="col-md-6 px-4">
               <h6 class="footfontx"> About Our Team</h6>
               <p>Always looking forward for any advice and constructive critisms.</p>
               <a href="about.html" class="btn-footer"> More Info </a><br>
               <a href="contact.html" class="btn-footer"> Contact Us</a>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 px-4">
               <h6 class="footfontx"> Quick links</h6>
               <div class="row ">
                  <div class="col-md-6">
                     <ul>
                        <li> <a href="index.html"> - Home</a> </li>
                        <li> <a href="product.html"> - Shop</a> </li>
                        <li> <a href="product-compare.html"> - Compare</a> </li>
                        <li> <a href="about.html"> - About</a> </li>
                        <li> <a href="contact.html"> - Contact</a> </li>
                        <li> <a href="login.html"> - Login</a> </li>
                        <li> <a href="register.html"> - Register</a> </li>
                     </ul>
                  </div>
                  <div class="col-md-6 px-4">
                     <ul>
                        <li> <a href="product-category-lg.html"> - Only LG</a> </li>
                        <li> <a href="product-category-samsung.html"> - Only Samsung</a> </li>
                        <li> <a href="product-category-comfee.html"> - Only Comfee</a> </li>
                        <li> <a href="product-type-ironing.html"> - Only Ironings</a> </li>
                        <li> <a href="product-type-fan.html"> - Only Fans</a> </li>
                        <li> <a href="product-type-tv.html"> - Only TVs</a> </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-6 ">
               <h6 class="footfontx"> Newsletter</h6>
               <p style="font-size:15px;">Admin contacts:</p>
               <div class="social">
                  <a href="https://github.com/quangpe2001/LaImperial"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <a href="https://www.facebook.com/masonhh"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="https://www.instagram.com/thebypassss/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
               </div>
               <br>
               <p>Give us a word to describe us, let it empty to say "No words can describe you guys lol".</p>
               <p><input type="email" id="emailinput"  placeholder="Type here..." name="search"></p>
               <form class="form-footer my-3" onsubmit="submitEmail()">
                  <p class="subbut"><input type="button" onclick="submitEmail()"  value="Send" ></p>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<!-- End footer section -->
    <div class="gototop js-top">
         <a href="#" class="js-gotop"><i class="fa-solid fa-arrow-up"></i></a>
    </div>
    <script src="js/nam_index.js"></script>