<div class="mywork">
			<div class="about-title">
				<h1><i class="fa-solid fa-star" style="font-size:10px"></i>
					<i class="fa-solid fa-star" style="font-size:20px"></i>
					<i class="fa-solid fa-star" style="font-size:30px"></i>
					 Our Progress 
					<i class="fa-solid fa-star" style="font-size:30px"></i>
					<i class="fa-solid fa-star" style="font-size:20px"></i>
					<i class="fa-solid fa-star" style="font-size:10px"></i>
				</h1>
			</div>
			<div class="group-timeline">
				<div class="timeline">
					<div class="group-deadline">6.10.2022 - Planning</div>
					<div class="group-task">
						<ul>
							<li>Vy: Presentation about product card & Planning</li>
							<li>Quang: Writing review1</li>
							<li>Nam: Home page layout <span class="group-timeline-icon"><i class="fa-solid fa-table-list"></i></span></li>
						</ul>
					</div>
				</div>
				<div class="timeline">
					<div class="group-deadline">11.10.2022 - Layout</div>
					<div class="group-task">
						<ul>
							<li>Vy: Product details page layout</li>
							<li>Quang: Product page layout & Writing review2</li>
							<li>Nam: Home page layout <span class="group-timeline-icon"><i class="fa-sharp fa-solid fa-desktop"></i></span></li>
						</ul>
					</div>
				</div>
				<div class="timeline">
					<div class="group-deadline">15.10.2022 - More</div>
					<div class="group-task">
						<ul>
							<li>Vy: Product details page upgrade & Product compare page</li>
							<li>Quang: Menu and Footer</li>
							<li>Nam: Home page upgrade & Login and Register layout</li>
							<li>Ch창u: About us and Contact<span class="group-timeline-icon"><i class="fa-solid fa-wand-magic-sparkles"></i></span></li>
						</ul>
					</div>
				</div>
				<div class="timeline">
					<div class="group-deadline">25.10.2022 - Upgrade</div>
					<div class="group-task">
						<ul>
							<li>Vy: About us page</li>
							<li>Quang: Product page upgrade & Writing Review3</li>
							<li>Nam: Home page upgrade</li>
							<li>Ch창u: Contact<span class="group-timeline-icon"><i class="fa-solid fa-wand-magic-sparkles"></i></span></li>
						</ul>
					</div>
				</div>
				<div class="timeline">
					<div class="group-deadline">27.10.2022 - Rock n Roll</div>
					<div class="group-task">
						<ul>
							<li>Vy: Product details page xN, margin fixed, adding alert</li>
							<li>Quang: Product page upgrade, footer fixed</li>
							<li>Nam: Login and Register pattern fixed </li>
							<li>Ch창u: Contact pattern fixed<span class="group-timeline-icon"><i class="fa-sharp fa-solid fa-rocket"></i></span></li>
						</ul>
					</div>
				</div>
				<div class="timeline">
					<div class="group-deadline">29.10.2022 - Fin</div>
					<div class="group-task">
						<ul>
							<li>Vy: Checking project</li>
							<li>Quang: Finish report</li>
							<li>Nam: -/-</li>
							<li>Ch창u: -/-<span class="group-timeline-icon"><i class="fa-solid fa-trophy"></i></span></li>
						</ul>
					</div>	
				</div>
			</div>
			<div class="about-title">
				<h1><i class="fa-solid fa-star" style="font-size:10px"></i>
					<i class="fa-solid fa-star" style="font-size:20px"></i>
					<i class="fa-solid fa-star" style="font-size:30px"></i>
					 Meet Our Team 
					<i class="fa-solid fa-star" style="font-size:30px"></i>
					<i class="fa-solid fa-star" style="font-size:20px"></i>
					<i class="fa-solid fa-star" style="font-size:10px"></i>
				</h1>
			</div>
			<div class="group-member">
				<div class="member-card">
					<div class="member-card-img">
						<img src="/images/product-details-images/vtv.jpg" alt="img">
					</div>
					<div class="member-card-content">
						<ul>
							<li><b>Name:</b> Vu Thao Vy</li>
							<li>
								<b>Work Content:</b>
								<ul>
									<li>Leader</li>
									<li>Product Details Page</li>
									<li>Product Compare Page</li>
									<li>About Us Page</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="member-card-socialicon">
						<i class="icon-facebook"></i>
						<i class="icon-twitter"></i>
						<i class="icon-linkedin"></i>
						<i class="icon-dribbble"></i>
					</div>
				</div>
				<div class="member-card">
					<div class="member-card-img">
						<img src="/images/product-details-images/hnq.jpg" alt="img">
					</div>
					<div class="member-card-content">
						<ul>
							<li><b>Name:</b> Huynh Nhat Quang</li>
							<li>
								<b>Work Content:</b>
								<ul>
									<li>Member</li>
									<li>Product Page</li>
									<li>Menu and Footer</li>
									<li>Report</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="member-card-socialicon">
						<i class="icon-facebook"></i>
						<i class="icon-twitter"></i>
						<i class="icon-linkedin"></i>
						<i class="icon-dribbble"></i>
					</div>
				</div>
				<div class="member-card">
					<div class="member-card-img">
						<img src="/images/product-details-images/cvn.jpg" alt="img">
					</div>
					<div class="member-card-content">
						<ul>
							<li><b>Name:</b> Chu Van Nam</li>
							<li>
								<b>Work Content:</b>
								<ul>
									<li>Member</li>
									<li>Home Page</li>
									<li>Login and Register</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="member-card-socialicon">
						<i class="icon-facebook"></i>
						<i class="icon-twitter"></i>
						<i class="icon-linkedin"></i>
						<i class="icon-dribbble"></i>
					</div>
				</div>
				<div class="member-card">
					<div class="member-card-img">
						<img src="/images/product-details-images/shibainu.jpg" alt="img">
					</div>
					<div class="member-card-content">
						<ul>
							<li><b>Name:</b> Nguyen Phuc Minh Chau</li>
							<li>
								<b>Work Content:</b>
								<ul>
									<li>Member</li>
									<li>Contact</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="member-card-socialicon">
						<i class="icon-facebook"></i>
						<i class="icon-twitter"></i>
						<i class="icon-linkedin"></i>
						<i class="icon-dribbble"></i>
					</div>
				</div>
			</div>
		</div>