<!-- slider -->
<section class="slider-nam">
    <div class="container">
        <div class="row slider-show">
            <div id="slide">
                <!--  Slide item --->
                <div class="item">
                    <div class="image">
                        <img src="images/img-nam/products-18.png">
                    </div>
                    <div class="content">
                        <div class="left">
                            <h1>SPEAKER</h1>
                            <div class="des">GPX Microsistema HM3817DTBK </div>
                            <a href="product-detail-SS-02.html"> <button>Buy Now</button></a>
                        </div>
                        <div class="right">
                            <h2>Product Information</h2>
                            <ul>
                                <li>
                                    <p>Original Release Date</p>
                                    <p>2020</p>
                                </li>
                                <li>
                                    <p>Brand</p>
                                    <p>LG</p>
                                </li>
                                <li>
                                    <p>Price</p>
                                    <p>499$</p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!--  end slide item --->
            </div>
            <div class="directional">
                <button id="prev">
                    < </button>
                        <button id="next"> > </button>
            </div>
        </div>
    </div>
</section>
<!-- end slider -->
<!-- icon -->
<section class="icon-nam">
    <div class="icon">
        <div class="row">
            <div class="col-xs-3 col-md-3 col-lg-3 col-xs-3">
                <div class="support">
                    <img src="images/support-1.png" alt="">
                    <div class="sup-p">
                        <p>Free Shipping</p>
                        <p> free shipping on all order</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3 col-xs-3">
                <div class="support">
                    <img src="images/support-2.png" alt="">
                    <div class="sup-p">
                        <p>Support 24/7</p>
                        <p> free shipping on all order</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3 col-xs-3">
                <div class="support">
                    <img src="images/support-3.png" alt="">
                    <div class="sup-p">
                        <p>Monkey Return</p>
                        <p> free shipping on all order</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3 col-xs-3">
                <div class="support">
                    <img src="images/support-4.png" alt="">
                    <div class="sup-p">
                        <p>Order Discount</p>
                        <p> free shipping on all order</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end icon -->
<!-- product -->
<section class="nam-product">
    <div class="container-nam">
        <div class="main">
            <div id="myBtnContainer">
                <button class="btn active" onclick="filterSelection('all')"> Show all</button>
                <button class="btn" onclick="filterSelection('bestsale')"> Best sale</button>
                <button class="btn" onclick="filterSelection('hotsale')"> Hot Sale</button>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <!-- Product-->
                    <div class="column bestsale">
                        <div class="content">
                            <img src="images/img-nam/7.png">
                            <div class="content-text">
                                <h4>5000 BTU Window Air Conditioner</h4>
                                <p>Price : &emsp; 499$ <span> <a href="product-detail-AC-04.html">Buy Now</a></span></p>
                            </div>
                        </div>
                    </div>
                    <!-- End Product--> 
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end product -->
<!-- carousel -->
<section class="caroucel-nam">

    <div class="row">
        <div class="col-xs-3  col-md-3 col-lg-3">
            <div class="nam-sale">
                <img src="images/img-nam/3.png" alt="">
                <div><span class="span">Sale of <br> $59.99</span></div>
            </div>
        </div>

        <div class="col-xs-3 col-lg-3 col-md-3">
            <div class="h4">
                <h4>SPECIAL OFFER</h4>
            </div>
            <div class="h2">
                <h2>43-Inch 4K UHD Smart TV</h2>
            </div>
            <div class="row nam-but">

                <div class="item-nam col-xs-3 col-lg-3 col-md-3">

                    <span id="days1">70</span>
                    <span class="sp">:</span>
                    <p>Days &emsp;</p>
                </div>
                <div class="item-nam col-xs-3 col-lg-3 col-md-3">

                    <span id="hours1">22</span>
                    <span class="sp">:</span>
                    <p>HOURS</p>
                </div>
                <div class="item-nam col-xs-3 col-lg-3 col-md-3">

                    <span id="minutes1">22</span>
                    <span class="sp">:</span>
                    <p>MINUTES</p>
                </div>
                <div class="item-nam col-xs-3 col-lg-3 col-md-3">

                    <span id="seconds1">22</span>
                    <p>SECONDS</p>
                </div>
                <div class="btn1">
                <a href="product-detail-TV-02.html"><button>SHOP NOW</button> </a>
                </div>
            </div>
        </div>

        <div class="col-xs-3  col-md-3 col-lg-3">
            <div class="nam-sale">
                <img src="images/img-nam/products-25.png" alt="">
                <div><span class="span">Sale of <br> $29.99</span></div>
            </div>
        </div>

        <div class="col-xs-3 col-lg-3 col-md-3">
            <div class="h4">
                <h4>SPECIAL OFFER</h4>
            </div>
            <div class="h2">
                <h2>Digital Display Steam Iron</h2>
            </div>
            <div class="row">

                <div class="item-nam col-xs-3 col-lg-3 col-md-3">

                    <span id="days">70</span>
                    <span class="sp">:</span>
                    <p>Days &emsp;</p>
                </div>
                <div class="item-nam col-xs-3 col-lg-3 col-md-3">

                    <span id="hours">22</span>
                    <span class="sp">:</span>
                    <p>HOURS</p>
                </div>
                <div class="item-nam col-xs-3 col-lg-3 col-md-3">

                    <span id="minutes">22</span>
                    <span class="sp">:</span>
                    <p>MINUTES</p>
                </div>
                <div class="item-nam col-xs-3 col-lg-3 col-md-3">

                    <span id="seconds">22</span>
                    <p>SECONDS</p>
                </div>
                <div class="btn1">
                  <a href="product-detail-IS-01.html"><button>SHOP NOW</button></a> 
                </div>
            </div>
        </div>
</section>
<!-- end carousel  -->