<div class="namquang">
    <div class="backround-logis">
    <section class="nam-logback">
        <div class="namlogin">
            <div class="container_nam">
                <h1><a href="login.html"><span style="font-size: 15px; font-weight: bolder;">Login</span></a><span>|</span><a href="register.html"><span style="font-size: 15px; font-weight: bolder;">Register</span></a></h1>
                <form method='POST' action="/login/authen" >
                    <div class="form">
                        <div class="new">
                            <input type="text" placeholder="Username" class="username1" id="username" name="username"> <br>
                            <input type="password" placeholder="Passwork" id="passwork" name="password"><br>
                        </div>
                    </div>
                    <div class="checkbox1">
                        <input type="checkbox" name="" id="check">&nbsp;Remember me 
                    </div>
                    <div class="btn1">
                        <button type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    </div>
</div>